/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES CSS*/
:root {
    /* COLORES PRINCIPALES */
    --color-primary: #d6a85a;
    --color-primary-dark: #b88a3d;
    --color-primary-alt: #d3962e;

    /* COLORES OSCUROS */
    --color-dark: #2b1e16;
    --color-dark-alt: #3b2a1f;
    --color-green-dark: #1f3d2b;

    /* SOMBRA */
    --shadow-medium: 0 15px 40px rgba(0,0,0,0.15);

    /* GRADIENTES */
    --gradient-primary: linear-gradient(135deg, #d6a85a, #b88a3d);
}

/* SCROLL SUAVE */
html {
    scroll-behavior: smooth;
}

/* BODY */
body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
}

/* WEIGHT TITULOS */
h1, h2, h3 {
    font-weight: 600;
}



/* ================= HEADER ================= */



.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    z-index: 1000;
    background: transparent;
    transition: transform 0.4s ease, opacity 0.3s ease;
}

/* HEADER OCULTO AL HACER SCROLL*/
.header.hide {
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
}

.header-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
}

.logo img {
    height: 220px;
    margin-top: 20px;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-size: 1.05rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    position: relative;
    transition: 0.3s;
}

.nav a::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 1.5px;
    background:rgba(27, 27, 141, 1);
    transition: width 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav a:hover::after {
    width: 100%;
}

.nav a:hover {
    color: white;
}



/* ================= HERO ================= */



.hero {
    height: 100vh;

    background: 
        linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.6)),
        url("img/Hero.png") center/cover no-repeat;

    background-position: center 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 40px;
    text-align: center;
    color: white;

    animation: zoomHero 3s ease-out forwards;
}

.hero-content {
    max-width: 780px;
    padding: 0 20px;
    font-family: 'Playfair Display', serif;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: left;
    margin-left: 80px;
}

.hero-content h2 {
    font-size: 5rem;
    font-weight: 700;
    color: #ffffff;

    text-shadow: 
        0 5px 20px rgba(0,0,0,0.6);

    line-height: 1.1;
    margin-bottom: 30px;
}

.hero-content p {
    color: #ffffff;

    text-shadow: 
        0 4px 15px rgba(0,0,0,0.7);

    font-size: 1.3rem;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(
        to right,
        rgba(0,0,0,0.65) 0%,
        rgba(0,0,0,0.45) 35%,
        rgba(0,0,0,0.15) 60%,
        rgba(0,0,0,0.0) 100%
    );

    pointer-events: none;
}

.hero .animate__animated {
    animation-duration: 1.5s;
}

.hero-buttons {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    position: relative;
    overflow: hidden;

    padding: 18px 45px;
    border-radius: 50px;

    font-size: 1.05rem;
    font-weight: 500;
    font-family: 'Inter', sans-serif;

    
    text-decoration: none;
    letter-spacing: 0.5px;

    background: #d4af37;
    color: black;
    font-weight: 600;

    border: 1.5px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(6px);

    transition: all 0.3s ease;
}

.btn:hover {
    background: #f1c40f;
    border: 1.5px solid rgba(255,255,255,0.5);
    transform: translateY(-3px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.25);
}

.btn-secondary {
    background: rgba(255,255,255,0.08);
    border: 1.5px solid rgba(255,255,255,0.7);
    font-weight: 600;
    color: white;
}

.btn-secondary:hover {
    background: rgba(255,255,255,0.15);
    border-color: white;
    transform: translateY(-3px);
}

.btn-highlight {
    animation: pulseSoft 3.5s ease-in-out infinite;
}

.btn-highlight::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50px;

    box-shadow: 0 0 0px rgba(255,255,255,0.0);
    transition: 0.3s;
}



/* ================= LINEA INFERIOR HERO ================= */



.top-divider {
    height: 18px;
    width: 100%;

    background: repeating-linear-gradient(
        90deg,
        #0f172a 0px,  
        #0f172a 26px,

        #1e3a8a 26px,
        #1e3a8a 52px
    );
}



/* ================= FRANJA BLANCA DIVISORIA ================= */



.divider-wrapper {
    padding: 40px 0;
    background: #f8f9fa;
}



/* ================= FRANJA GRADIENTE AZUL OSCURO - AZUL CLARO ================= */



.info-bar {
    background: linear-gradient(
        180deg,
        #0f172a,   
        #1e3a8a   
    );
    
    color: white;
    padding: 40px 60px;
}

.info-bar {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 30px;
}

.info-item {
    flex: 1;
}

.info-item h3 {
    font-size: 1.3rem;
    margin-bottom: 10px;
    font-weight: 600;
}

.info-item p {
    font-size: 0.95rem;
    opacity: 0.8;
}


.info-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: #f3e9dc;

    position: relative;
    min-height: 80px;
    transform: translateY(2px);
}

/* Separación vertical tipo línea */
.info-item:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    width: 1px;
    background: rgba(255,255,255,0.2);
}


/* ================= LINEA DIVISORIA ================= */



.section-divider {
    margin-top: 40px;
    margin-bottom: 40px;
    height: 18px;

    background: repeating-linear-gradient(
        90deg,
        #132238 0px,  
        #132238 26px,

        #1e3a8a 26px, 
        #1e3a8a 52px
    );
}



/* ================= SECCION PRODUCTOS ================= */



.productos {
    padding: 50px 0;

        
    background: 
        linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.55)),
        url("img/BackgroundProductos.png") center/cover no-repeat;

    backdrop-filter: blur(2px);
    position: relative;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.section-title {
    text-align: center;
    max-width: 700px;
    margin: 0 auto 30px auto;
    font-size: 2.1rem;
    line-height: 1.3;
    letter-spacing: 0.5px;
    color: white;
}

.productos .section-title span {
    color: var(--color-primary);
    font-weight: 600;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 80px;
    max-width: 1100px;
    margin: 50px auto 0;
}

.card {
    position: relative;
    width: 380px;
    max-width: 350px;
    height: 550px;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: var(--shadow-medium);
    opacity: 0;
    transition: all 1.4s cubic-bezier(0.22, 1, 0.36, 1);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.6s ease;
}

.card-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 8px;
    padding: 30px;

    background: linear-gradient(
        to top,
        rgba(0,0,0,0.85),
        rgba(0,0,0,0.4),
        transparent
    );

    color: white;
    text-align: left;
}

.card-overlay h3 {
    font-size: 1.8rem;
    margin-bottom: 5px;
    letter-spacing: 1px;
}

.card-overlay p {
    font-size: 1.1rem;
    opacity: 0.85;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
}

.info {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 15px;
}

.info small {
    font-size: 0.8rem;
    opacity: 0.7;
    margin-right: 5px;
}

.btn-card {
    display: inline-block;
    padding: 10px 20px;
    background: var(--gradient-primary);
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-align: center;
    transition: all 0.3s ease;
}

.btn-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

.card:hover {
    transform: translateY(-10px) scale(1.01);
    box-shadow: 0 25px 60px rgba(0,0,0,0.25);
}

.card:hover img {
    transform: scale(1.08);
}

.card:hover .card-overlay {
    background: linear-gradient(
        to top,
        rgba(0,0,0,0.95),
        rgba(0,0,0,0.5),
        transparent
    );
}

/* Efecto brillo */
.card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        120deg,
        transparent 30%,
        rgba(255,255,255,0.2),
        transparent 70%
    );
    opacity: 0;
    transition: 0.5s;
}

.card:hover::after {
    opacity: 1;
}

/* Animaciones al hacer scroll*/
.card-left {
    transform: translateX(-80px);
}

.card-center {
    transform: translateY(80px);
}

.card-right {
    transform: translateX(80px);
}

.card-center.show {
    transform: scale(1.04);
}

.card.show {
    opacity: 1;
    transform: translateY(0);
}

.card-left,
.card-right {
    opacity: 0;
}

.card-left.show,
.card-right.show {
    opacity: 1;
}







/* ================= SECCION INSTRUCCIONES / EMPRESA ================= */



.instrucciones {
    padding: 60px 0;

    background: 
        linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.55)),
        url("img/BackgroundEmpresa.png") center/cover no-repeat;

    position: relative;
}

.story-steps {
    position: relative;
    max-width: 750px;
    margin: 40px auto 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.story-steps::before {
    content: "";
    position: absolute;
    top: 0;
    left: 30px;
    width: 2px;
    height: 100%;
    background: linear-gradient(
        to bottom,
        transparent,
        var(--color-primary),
        transparent
    );
    opacity: 0.6;
}

.story-step {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    opacity: 0;
    transform: translateY(40px);
    transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);
}

.story-step.show {
    opacity: 1;
    transform: translateY(0);
}

.step-number {
    position: relative;
    min-width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    background: var(--gradient-primary);
    box-shadow: 
        0 10px 25px rgba(0,0,0,0.2);
    overflow: hidden;
}

.step-number::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;

    background: radial-gradient(
        circle,
        rgba(255,255,255,0.4),
        rgba(255,255,255,0.0) 70%
    );

    opacity: 0;
    transform: scale(0.8);
    transition: all 0.3s ease;
}

.step-number {
    animation: breatheCircle 3.5s ease-in-out infinite;
}

.step-number::before {
    animation: glowPulse 3.5s ease-in-out infinite;
}

.step-content {
    position: relative;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(14px);
    padding: 30px 35px;
    border-radius: 18px;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 
        0 10px 30px rgba(0,0,0,0.08),
        inset 0 1px 0 rgba(255,255,255,0.5);
    transition: all 0.4s ease;
    max-width: 600px;
}

.story-step {
    will-change: transform, opacity;
}

.story-step:hover .step-content {
    transform: translateY(-8px) scale(1.01);
    background: linear-gradient(
        120deg,
        transparent 30%,
        rgba(255,255,255,0.2),
    );
}

.step-content h3 {
    font-size: 1.6rem;
    margin-bottom: 10px;
    font-weight: 600;
    letter-spacing: 0.5px;
    opacity: 0.8;
}

.step-content p {
    font-size: 1rem;
    line-height: 1.6;
    letter-spacing: 0.5px;
    font-weight: 500;
}

.story-step:nth-child(1).show { transition-delay: 0.2s; }
.story-step:nth-child(2).show { transition-delay: 0.4s; }
.story-step:nth-child(3).show { transition-delay: 0.6s; }



/* ================= SECCION UBICACION ================= */



.ubicacion {
    padding: 60px 0;

    background: 
        linear-gradient(to bottom,
    rgba(0,0,0,0.85) 0%,
    rgba(0,0,0,0.7) 40%,
    rgba(0,0,0,0.5) 100%
),
        url("img/BackgroundUbicacion.png") center 100%/cover no-repeat;

    position: relative;
}

.section-subtitle {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 1.4rem;
    font-weight: 600;
    opacity: 0;
    transform: translateY(-30px);
    transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);
    color: white;
}

.section-subtitle.show {
    opacity: 1;
    transform: translateY(0);
}

.section-title span {
    color: var(--color-primary-alt);
    font-weight: 600;
}

.ubicacion-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.ubicacion-card {
    position: relative;
    background: rgba(255, 255, 255, 0.75);
    padding: 30px 35px;
    border-radius: 18px;
    border: 1px solid rgba(255,255,255,0.5);
    box-shadow: 
        0 10px 30px rgba(0,0,0,0.08),
        inset 0 1px 0 rgba(255,255,255,0.5);

    overflow: hidden;
    opacity: 0;
    transform: translateY(40px);
    transition:
        opacity 0.9s cubic-bezier(0.22, 1, 0.36, 1),
        transform 0.9s cubic-bezier(0.22, 1, 0.36, 1);
}

.ubicacion-card.show {
    opacity: 1;
    transform: translateY(0);
}

.ubicacion-card.show:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 50px rgba(0,0,0,0.12);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.ubicacion-card h4 {
    font-size: 0.9rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: var(--color-primary-alt);
    margin-bottom: 10px;
    font-weight: 900;
}

.ubicacion-card p {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 5px;
}

.ubicacion-card span {
    font-size: 1rem;
    opacity: 0.7;
}

.mapa-pro {
    margin-top: 60px;
    height: 320px;
    border-radius: 20px;
    overflow: hidden;

    background: 
        linear-gradient(
            rgba(0,0,0,0.25),
            rgba(0,0,0,0.4)
        ),
        url("img/mapa.jpg") no-repeat;

    box-shadow: 0 25px 70px rgba(0,0,0,0.5);

    background-size: cover;
    background-position: 60% center;
    border: 1px solid whitesmoke;
    display: flex;
    align-items: flex-end;
    position: relative;
    opacity: 0;
    transform: translateY(60px);
    transition:
        opacity 1.2s cubic-bezier(0.22, 1, 0.36, 1),
        transform 1.2s cubic-bezier(0.22, 1, 0.36, 1);
}

.mapa-pro::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.25);
    border-radius: 20px;
}

.mapa-pro.show {
    opacity: 1;
    transform: translateY(0);
}

.mapa-pro.show:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 50px rgba(0,0,0,0.12);

    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.mapa-overlay {
    color: white;
    padding: 30px;
    max-width: 500px;
}

.mapa-overlay h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.mapa-overlay p {
    font-size: 0.95rem;
    opacity: 0.85;
    margin-bottom: 20px;
}

.mapa-overlay .btn {
    padding: 10px 25px;
    font-size: 0.9rem;
}




/* ================= SECCION CONTACTO ================= */



.contacto {
    padding: 60px 0;

    background:
        linear-gradient(to bottom,
        rgba(0,0,0,0.85) 0%,
        rgba(0,0,0,0.7) 40%,
        rgba(0,0,0,0.5) 100%
    ),
    url("img/BackgroundForm.jpg") center/cover no-repeat;

    position: relative;
}

.section-subtitle {
    text-align: center;
    margin-top: 10px;
    opacity: 0.85;
    font-size: 1.1rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.formulario-pro {
    max-width: 1000px;
    margin: 50px auto 0;
    padding: 20px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.28);
    backdrop-filter: blur(22px);
    border: 1px solid rgba(255,255,255,0.5);
    box-shadow: 
    0 30px 80px rgba(0,0,0,0.2),
    inset 0 1px 0 rgba(255,255,255,0.6);

    transition: all 0.4s ease;
}

.section-title span {
    color: var(--color-primary);
    font-weight: 600;
}

.form-row {
    display: flex;
    gap: 15px;
}

.formulario-pro input,
.formulario-pro textarea,
.formulario-pro select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255,0.4);
    background: rgba(255,255,255,0.4);
    backdrop-filter: blur(10px);
    font-size: 0.95rem;
    font-family: inherit;
    transition: all 0.3s ease;
    color: #1a1a1a;
}

.formulario-pro textarea {
    min-height: 120px;
    resize: none;
}

.formulario-pro select {
    appearance: none;
    cursor: pointer;
}

.formulario-pro input:focus,
.formulario-pro textarea:focus,
.formulario-pro select:focus {
    outline: none;
    border: 1px solid var(--color-primary);
    box-shadow: 
        0 0 0 2px rgba(214,168,90,0.2);
}

.formulario-pro .btn {
    width: 100%;
    margin-top: 10px;
}

.formulario-pro {
    opacity: 0;
    transform: translateY(40px);
}

.formulario-pro.show {
    opacity: 1;
    transform: translateY(0);
    transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);
}

.section-subtitle {
    opacity: 0;
    transform: translateY(-30px);
    transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);
}

.section-subtitle.show {
    opacity: 1;
    transform: translateY(0);
}



/* ================= FOOTER ================= */



.footer {
    margin: 0;
    padding: 80px 0 40px;

    background: linear-gradient(
        180deg,
        #1e3a8a,
        #0f172a    
    );

    color: rgba(255,255,255,0.85);
    position: relative;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

.footer-col h3,
.footer-col h4 {
    margin-bottom: 15px;
    font-weight: 600;
}

.footer-logo {
    font-size: 1.4rem;
    color: #fff;
}

.footer-col p {
    font-size: 0.95rem;
    line-height: 1.6;
    opacity: 0.75;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 10px;
    font-size: 0.95rem;
    opacity: 0.8;
}

.footer-col ul li a {
    text-decoration: none;
    color: rgba(255,255,255,0.8);
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: var(--color-primary);
    transform: translateX(3px);
}

.footer-newsletter {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.footer-newsletter input {
    flex: 1;
    padding: 12px 15px;
    border-radius: 10px;
    border: none;
    background: rgba(255,255,255,0.08);
    color: white;
    font-size: 0.9rem;
}

.footer-newsletter input::placeholder {
    color: rgba(255,255,255,0.5);
}

.footer-newsletter button {
    padding: 12px 18px;
    border: none;
    border-radius: 10px;
    background: var(--gradient-primary);
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.footer-newsletter button:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(214,168,90,0.4);
}

.footer-social {
    margin-top: 50px;
    display: flex;
    gap: 25px;
    justify-content: center;
}

.footer-social a {
    text-decoration: none;
    color: rgba(255,255,255,0.7);
    font-size: 0.95rem;
    transition: all 0.3s ease;
}

.footer-social a:hover {
    color: var(--color-primary);
    transform: translateY(-2px);
}

.footer-bottom {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid rgba(255,255,255,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.85rem;
}

.footer-legal {
    display: flex;
    gap: 20px;
}

.footer-legal a {
    text-decoration: none;
    color: rgba(255,255,255,0.6);
    transition: all 0.3s ease;
}

.footer-legal a:hover {
    color: var(--color-primary);
}


/* Linea divisoria y final del footer*/
.divider-wrapper-footer {
    margin: 0;
    padding: 0;
}

.section-divider-footer {
    height: 18px;

    background: repeating-linear-gradient(
        90deg,
        #0f172a 0px, 
        #0f172a 26px,

        #1e3a8a 26px,
        #1e3a8a 52px
    );
}

/* Animaciones del footer*/
.footer-col,
.footer-social,
.footer-bottom {
    opacity: 0;
    transform: translateY(40px);
    transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);
}

.footer.show .footer-col,
.footer.show .footer-social,
.footer.show .footer-bottom {
    opacity: 1;
    transform: translateY(0);
}

.footer.show .footer-col:nth-child(1) { transition-delay: 0.2s; }
.footer.show .footer-col:nth-child(2) { transition-delay: 0.4s; }
.footer.show .footer-col:nth-child(3) { transition-delay: 0.6s; }
.footer.show .footer-col:nth-child(4) { transition-delay: 0.8s; }

.footer.show .footer-social { transition-delay: 1s; }
.footer.show .footer-bottom { transition-delay: 1.2s; }



/* ================= KEYFRAMES ================= */
@keyframes zoomHero {
    from {
        background-size: 100%;
    }
    to {
        background-size: 110%;
    }
}

@keyframes pulseSoft {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 rgba(255,255,255,0.0);
    }
    50% {
        transform: scale(1.05);
        box-shadow: 0 0 25px rgba(255,255,255,0.25);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 rgba(255,255,255,0.0);
    }
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes breatheCircle {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.08);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes glowPulse {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    50% {
        opacity: 0.6;
        transform: scale(1.2);
    }

    100% {
        opacity: 0;
        transform: scale(0.8);
    }
}



/* ================= BASE FLUIDA ================= */

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%;
    max-width: 1200px;
}

/* ================= HEADER MOBILE ================= */

.menu-toggle {
    display: none;
    font-size: 1.8rem;
    color: white;
    cursor: pointer;
}

/* ================= MOBILE (≤768px) ================= */

@media (max-width: 768px) {

    /* ===== HEADER ===== */
    .header {
        height: 70px;
        background: transparent;
    }

    .header-container {
        padding: 0 20px;
    }

    .logo img {
        height: 55px;
        margin-top: 0;
    }

    .menu-toggle {
        display: block;
    }

    .nav-list {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: #0f172a;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 25px 0;
        display: none;
    }

    .nav-list.active {
        display: flex;
    }

    /* ===== HERO ===== */
     .hero {
        height: auto;
        min-height: 80vh;
        padding: 100px 20px 40px;
        justify-content: center;
        text-align: center;
        background: 
            linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.6)),
            url("img/HeroResponsive.png") center/cover no-repeat;

        background-position: center 30%;
    }

    .hero-content {
        margin-left: 0;
        text-align: center;
    }

    .hero-content h2 {
        font-size: 2.2rem;
        line-height: 1.2;
    }

    .hero-content p {
        font-size: 1rem;
    }

    .hero-buttons {
        flex-direction: column;
        gap: 15px;
    }

    .btn {
        display: inline-block;
        width: 100%;
        padding: 7px 0;
    }

    /* ===== INFO BAR ===== */
    .info-bar {
        flex-direction: column;
        gap: 20px;
        padding: 30px 20px;
        background: #1e3a8a;
    }

    .info-item::after {
        display: none;
    }

    /* ===== PRODUCTOS ===== */
    .cards-container {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 30px;
        margin-top: 40px;
    }

    .card {
        width: 100%;
        max-width: 320px;
        height: 420px;
    }

    /* ===== EMPRESA ===== */
    .story-step {
        flex-direction: column;
        gap: 15px;
    }

    .story-steps::before {
        display: none;
    }

    /* ===== UBICACIÓN ===== */
    .ubicacion-grid {
        grid-template-columns: 1fr;
    }

    .mapa-pro {
        height: 250px;
    }

    /* ===== FORM ===== */
    .form-row {
        flex-direction: column;
    }

    /* ===== FOOTER ===== */
    .footer-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 10px;
    }

}


/* ================= TABLET (769px - 1024px) ================= */

@media (min-width: 769px) and (max-width: 1024px) {

    /* HERO */
    .hero {
        height: 100vh;

        background: 
            linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.6)),
            url("img/HeroResponsive.png") center/cover no-repeat;

        background-position: center 30%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-top: 40px;
        text-align: center;
        color: white;

        animation: zoomHero 3s ease-out forwards;
    }

    .hero-content h2 {
        font-size: 3rem;
    }

    .hero-content {
        margin-left: 0;
        text-align: center;
    }

    /* PRODUCTOS */
    .cards-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    .card {
        width: 100%;
        height: 480px;
    }

    /* UBICACIÓN */
    .ubicacion-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    /* FOOTER */
    .footer-grid {
        grid-template-columns: repeat(2, 1fr);
    }

}


/* ================= DESKTOP GRANDE ================= */

@media (min-width: 1400px) {

    .hero-content h2 {
        font-size: 6rem;
    }

    .container {
        max-width: 1400px;
    }

}